.card{
    border: 1px solid red;
    font-size: 1.2rem;
    width: 100%;
    font-weight: 500;
    // border: 1px solid whitesmoke;
    box-shadow: 5px 5px 5px rgb(194, 194, 194);
    .head{
        // border: 1px solid red;
       
    }
}